<h1>Listing recipes</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td><img src="http://lorempixel.com/g/140/85/food" alt="recipe thumbnail">
    <td>
      <h4><%= recipe.name %></h4>
      <p>By <%= link_to recipe.owner.name, recipe.owner %></p>
    </td>
    <td>
      <p><%= recipe.description %></p>
    </td>
    </td>
    <td><%= link_to 'Show', recipe %></td>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to 'Destroy', recipe, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recipe', new_recipe_path %>
