<h1>New recipe</h1>

<%= render 'form' %>
<%= form_for @recipe, :url => { :action => "create" }, :html => {:class => "nifty_form"} do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :description %>
  
  <%= f.text_field :instructions %>
   
  <%= f.submit "Create" =%>
<% end %>

<%= link_to 'Back', recipes_path %>
