<h1>New recipe</h1>

<%= simple_form_for @recipe, :url => { :action => "create" }, :html => {:class => "nifty_form"} do |f| %>
  <%= f.input :name, :label => 'Recipe name' %>
  <%= f.label :Description %>
  <%= f.text_area :description, :required => false, :cols => 30, :rows => 5 %>

  <div class="control-group string required">
  <%= f.label :instructions, :required => true %>
  <%= f.text_area :instructions, :cols => 30, :rows => 5 %>
  </div> 
  
  <%= f.button :submit =%>
<% end %>

<%= link_to 'Back', recipes_path %>
