<h1>Personalizing recipe</h1>

<%= simple_form_for @recipe, :url => { :action => "create" }, :html => {:class => "nifty_form"} do |f| %>
  <%= f.input :name, :label => 'Recipe name' %>
  <%= f.label :Description %>
  <%= f.text_area :description, :required => false, :cols => 30, :rows => 5 %>
  <%= f.label :Ingredients %>
  <%= f.text_area :ingredients, :required => false, :cols => 30, :rows => 5 %>
  <%= f.hidden_field :parent_id, :value => params[:id] %>
  
  <div class="control-group string required">
	<%= f.label :instructions, :required => true %>
	<%= f.text_area :instructions, :cols => 30, :rows => 5 %>
  </div> 
  
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div> <br />
  
  <%= f.submit " Personalize " %>
<% end %>

<%= link_to 'Show', @recipe %> |
<%= link_to 'Back', recipes_path %>
