<div class="row">
	<div class="span7">
		<h2><%= @recipe.name %></h2>
		<h4>By <%= link_to @recipe.owner.name, @recipe.owner %></h4>
				
		<%= render "rating_form" %><br />
		
		<h5>Description</h5>
		<p><%= @recipe.description %></p>
		
		<h5>Ingredients</h5>
		<p><%= @recipe.ingredients %></p>
		
		<h5>Instructions</h5>
		<p><%= @recipe.instructions %></p>
		
		<% if @recipe.owner == current_user %>
		  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
		<% else %>
		  <%= link_to 'Personalize', personalize_recipe_path(@recipe) %> |
		<% end %>
		<%= link_to 'History', recipe_history_path(@recipe) %> |
		<%= link_to 'Back', recipes_path %>
	</div>
	
	<div id="image" class="span5" style="float:right">
	  <%= image_tag @recipe.image.url(:medium) %>
	</div>
	


<br /><br />