<div class="container"
    <div id="sidebar">
      <%= image_tag @user.gravatar_url :size => 250 %>
      <h1><%= @user.name %></h1>
      <p class="slogan">
      	<%= ["Food Fanatic", "Cool Cook", "Rad Recipleaser", ].sample %>
      </p>
      
      <ul>
      	<li></li>
        <li><a href="#"><%= @user.name %>'s Favorite Recipes</a><br />Recipe's to die for!</li>
        <li><a href="#">Full Bio</a><br />I think, therefore I cook...</li>
        <% if @user == current_user %>
        	<li>
    		<%= link_to('Edit account', edit_user_registration_path) %>
    		</li>
    	<% end %>
      </ul>
    </div>
	<div id="content">
		<%#= render :partial => "user_bio" %>
		<%= render 'user_recipes' %>
	</div>
</div> 